/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/cj_res
**/*.cj.macrocall
**/ability_mainability_entry.cj
**/module_**_entry.cj
**/IDL_Dependencies_List~
**/build-script-cache
.vscode/
/webrtc_cj/BuildProfile.ets
/webrtc_cpp/src/main/cpp/libwebrtc.a
/webrtc_cpp/.vscode/
/webrtc_cpp/src/main/cpp/include
/webrtc_cpp/src/main/cpp/include/**/*.cc
/webrtc_cpp/src/main/cpp/include/**/*.cpp
/webrtc_cpp/src/main/cpp/include/**/*.c
/webrtc_cpp/src/main/cpp/back/
#*.so
*lock*
/log.txt
